:root {
  /* --ion-grid-width-xl: 1500px; */
  --ion-font-family: url("../assets/fonts/Lexend_Deca/LexendDeca-Regular.ttf");
}

ion-select {
  width: 70%;
  margin-left: auto;
}

ion-select::part(placeholder),
ion-select::part(text) {
  color: #999;
  opacity: 1;
}

.add-card-modal {
  --height: 150px;
  --backdrop-opacity: 0.5;
}