.ion-card-section {
  height: 100%;
  width: 100%;
  /* max-width: 400px; */
  min-width: 265px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

.ion-col {
  margin: 0;
}

.ion-button {
  width: 100%;
}

.dropdown-selector {
  --border-width: 0;
}

.scroll {
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  margin-right: 5px;
}
